body {
  font-family: "Karla", sans-serif;
  background-color:rgb(255, 255, 255);
  min-height: 100vh;
}


#popup {

  display: inline-block;

  opacity: 0;

  position: fixed;

  top: 0%;

  left: 50%;
  bottom: 0%;
  height:100%;

  padding: 0em;

  transform: translateX(-50%);

  background: #fff;

  border: 1px solid #888;

  box-shadow: 1px 1px .5em 0 rgba(0, 0, 0, .5);

  transition: opacity .3s ease-in-out;

  z-index:99999;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about-wrapper{
  text-align:center;

  width: 100%;
  margin-top: 0;
  padding: 10px 170px 20px 170px;
  box-sizing: border-box;
}

#popup.hidden {

  display: none;

}

#popup.fade-in {

  opacity: 1;

}
.column {
  float: center;
  width: 33%;
  margin-bottom: 16px;
  padding: 0px;
  padding-right: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;

}
.title {
  color: grey;
}
.hiddenmodal .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  background-color: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
  font-size: 16px;
  /* padding: 12px 24px; */
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 89px;
  width: 400px;
  background-color: #ffffff; }
  .brand-wrapper .logo {
    height: 25px; }
.top-bar {
      height: 50px;
      overflow: hidden;
      position: fixed;
      width: 100%;
      z-index: 10;
      background: #080505;
}

.login-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 68px 100px;
   }
    @media (max-width: 991px) {
    .login-section-wrapper {
      padding-left: 50px;
      padding-right: 50px;
    } }
  @media (max-width: 575px) {
    .login-section-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 100vh;
      } }

.login-wrapper {
  width: 400px;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
   }
  @media (max-width: 575px) {
    .login-wrapper {
      width: 100%;
       } }
  .login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #a6a4a7; }
  .login-wrapper .form-control {
    border: none;
    border-bottom: 1px solid #f8d01f;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal; }
    .login-wrapper .form-control::-webkit-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::-moz-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control:-ms-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::-ms-input-placeholder {
      color: #b0adad; }
    .login-wrapper .form-control::placeholder {
      color: #b0adad; }
  .login-wrapper .login-btn {
    padding: 13px 20px;
    background-color: #fdbb28;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 14px; }
    .login-wrapper .login-btn:hover {
      border: 1px solid #fdbb28;
      background-color: rgb(255, 255, 255);
      color: #fdbb28; }

  .login-wrapper-footer-text {
    font-size: 16px;
    color: #000;
    margin-bottom: 0; }

.login-title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px; }

.login-img {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left; }
/* .login-img1{
  width: 100%;
  height: 650px;
  background-image: linear-gradient(to top, #138808 33%, #ffffff 33%, #ffffff 66%, #FF9933 66% );
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;

} */

.login-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 68px 100px;
  background-color: rgb(255, 255, 255); }
  @media (max-width: 991px) {
    .login-section-wrapper {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (max-width: 575px) {
    .login-section-wrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 100vh; } }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.declaration {
text-align: center;
  border: 3px solid green;
}
.footer {
  display: inline-block;
  opacity: 1;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background:transparent;
  margin-bottom: 0;
  /* background-color: rgb(255, 255, 255); */
  color: rgb(10, 9, 9);
  text-align: center;
}
.footer-description{
  margin-bottom: 0;
}

.circular_image {

    border-radius: 58%;

  /* commented for demo
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  */
  /*for demo*/
  display:inline-block;
  vertical-align:middle;
}
